<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/GRAFICO.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotly Graph in Flask</title>

</head>
<body >
    <img src="/statica/Imagens/1.png" alt="">
    <img src="/statica/Imagens/2.png" alt="">
    <img src="/statica/Imagens/3.png" alt="">
    <img src="/statica/Imagens/4.png" alt="">
    <img src="/statica/Imagens/5.png" alt="">

</body>
</html>